.ScrappyHeader {
	color:white;
	font-size:50px;
	margin-left: 2vh;
	font-family: Tahoma, Geneva, sans-serif;
	margin-top: 0;
	margin-bottom: 0;

}
.IntroSection{
	height: 30vh;
	background-color: #0A4958;
}

.SearchSection{
	height:67vh;
	background-color: #01B6AD;
}

.FooterSection{
	height:3vh;
	background-color: #000;
	min-height: 20px;
}

.FooterSection p{
	margin-top: 0;
	color: white;
	font-family: Tahoma, Geneva, sans-serif;

}

*::-webkit-input-placeholder {
    color: rgba(50,50,50,0.5);
}
*:-moz-placeholder {
   color: rgba(50,50,50,0.5);
}
*::-moz-placeholder {
   color: rgba(50,50,50,0.5);
}
*:-ms-input-placeholder {
   color: rgba(50,50,50,0.5);
}


.WebsiteLinkForm div{
    height: 50px; 
    width: 290px;
    display: flex;
    padding-top: 27vh;
    margin:0 auto;
}

.WebsiteLinkForm input {
	font-size:100%;
    width: 100%;
    height: 50px;
    border: 1px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;  
    color: black;
}

.WebsiteLinkForm button{
    width: 90px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 20;
    border-color: white;
    color: white;
    background-color: #b75115;
    height: 52px;
    position: relative;
}


