.ScrappyHeader {
	color:#61dafb;
	font-size:50px;
	font-family: Tahoma, Geneva, sans-serif;
	margin: 0;

}
.IntroSection{
	height: 60vh;
	background-color:#2d2d2d ;
}

.SearchSection{
	height:40vh;
	background-color: rgb(225,222,222);
}


.IntroSection #DivHeaderId{
	width:230px;
	margin: 0 auto;
	text-align: center;
	padding-top: 7vh;
 }

.IntroSection p{
	color: white;
	font-family: Tahoma, Geneva, sans-serif;
	padding-top: 5px; 
	margin: 0;
}
.IntroSection #TextContainer{
	padding-top: 9vh;
	width: 750px;
	margin: 0 auto;
}

.IntroSection #websiteDescription{
	text-align: center;
	float:left;
	margin-right:40px;
	border: 1px solid #61dafb;
	padding: 15px;
	border-radius: 1em;
	width:300px;
 }

 .IntroSection #moreOptions{
	text-align: center;
	width: 200px;
	float: left;
	margin-left: 40px;
	border: 1px solid #61dafb;
	padding: 15px;
	border-radius: 1em;
 }

.SearchSection h2{
	margin: 0;
	padding-top: 10px;
	padding-left: 10px;
	font-family: Tahoma, Geneva, sans-serif;
	color:#006768;

}


*::-webkit-input-placeholder {
    color: rgba(50,50,50,0.5);
}
*:-moz-placeholder {
   color: rgba(50,50,50,0.5);
}
*::-moz-placeholder {
   color: rgba(50,50,50,0.5);
}
*:-ms-input-placeholder {
   color: rgba(50,50,50,0.5);
}


.WebsiteLinkForm div{
    height: 50px; 
    width: 290px;
    display: flex;
    padding-top: 8vh;
    margin:0 auto;
}

.WebsiteLinkForm input {
	font-size:100%;
    width: 100%;
    height: 50px;
    border: 1px solid #61dafb;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;  
    color: black;
}

.WebsiteLinkForm button{
    width: 90px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: #61dafb;
    color: white;
    background-color: #006768;
    height: 54px;
    position: relative;
}


