<!DOCTYPE html>
<html>
    <head>
        <title>Scrapper</title>
    <meta charset="utf-8">
    <style>
        @import url("/../static/css/Index.css");

        html, body {
            margin: 0;
            height: 100%;
        }
    </style>
    </head>
    
    <body>
            <section class="IntroSection">
             <div class="NavBar">
                
                <p id="NavSearchId">
                    Search
                </p>

                <p id="NavAboutId">
                    About
                </p>

                <p id="NavMoreId">
                    More
                </p>

            </div>
                <div id="DivHeaderId"> 
                    <h2 class="ScrappyHeader">Scrapper</h2> 
                    <p>A tool for easy web scraping</p>
                </div>
            </section>

            <section class="SearchSection">
                <form class="WebsiteLinkForm">
                    <div>
                        <input type= "text" name="websiteLink" placeholder="www.example.com"> <button>Get Tags</button>
                    </div>
                </form>
            </section>

            <section class="AboutSection">

            </section>

            <section class="MoreSection">
 
            </section>

        
    </body>
    
</html>